.training-day {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    border-radius: 31px;
  }

  &__delete-button {
    // @include green-button;
  }

  &__set-parts-button {
    // @include green-button;
    align-self: flex-start;
  }
}
