.exerciseItem {
  background-color: #161a1d;
  border-radius: 31px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  height: 100%;
  margin: 25px;
  border: 1px solid #222;

  &_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border: 2px dashed #fdbd32;
    padding: 25px;
    border-radius: 31px;
  }

  &_name {
    color: #fff;
    font-family: "Michroma", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  &_subparts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_subpart {
    // background-color: #fdbd32;
    border: 1px solid #fdbd32;
    color: #fdbd32;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-size: 14px;
  }

  &_description {
    color: #fff;
    font-size: 14px;
    font-family: "Michroma", sans-serif;
    line-height: 1.5;
    text-align: left;
    flex-grow: 1;
    margin-top: 15px;
  }

  &_classification {
    color: #fff;
    font-family: "Michroma", sans-serif;
    font-size: 80px;
    text-align: center;

    font-weight: 100;
    margin: 0;
    margin-top: auto;
  }

  &__actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 0 25px;

    button {
      background-color: $primary-green;
      color: $primary-darkest;
      padding: 10px 15px;
      border-radius: 20px;
      font-family: "Michroma", sans-serif;
      font-size: 10px;
      font-weight: 600;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: $primary-dark-green;
        color: #fff;
      }
    }
  }

  @include mq(medium) {
    width: 100%;

    padding: 30px;

    &_name {
      text-align: center;
      margin-top: 0;
    }

    &_content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }

    &_subparts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 40%;
    }

    &_description {
      width: 40%;
      margin: 0;
    }

    &_classification {
      margin: 0;
    }
  }
}

.exercisesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;

  &--expanded {
    max-height: 2000px;

    /* Adjust as needed */
  }
}

.exerciseGroup {
  width: 100%;

  &_title {
    width: 95%;
    color: #fff;
    font-family: "Michroma", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px;
    padding: 20px 0;
    border: 2px solid rgba($primary-dark-green, 0.5);
    background-color: rgba($primary-dark-green, 0.05);
    border-radius: 62px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    @include mq(medium) {
      width: 85%;
      font-size: 42px;
    }

    &:hover {
      background-color: $primary-dark-green;
    }
  }
}
