@import "_mixins";
@import "_variables";
@import "_main";
@import "_exerciseItem";
@import "_createTraining";

:root {
  --primary-gold: #{$primary-gold};
  --primary-dark: #{$primary-dark};
  --primary-darkest: #{$primary-darkest};
}

body {
  margin: 0;
}
